/* Your CSS Code here. */
.margin{
	border:1px solid black;
	padding:5px;
	margin:20px;
}
.border{
	background-color:blue;
	padding:5px;
	margin:20px;
}
.padding{
	border:15px solid rgb(0, 0, 255);
	background-color:rgb(173, 216, 230);
	padding:50px;
	margin:20px;
}
.content{
	width:300px;
	padding:15px;
	margin:20px;
}